jira:
    url: https://jira.company
    user: emailr@domain
    pass: secret
smtp:
    host: smtp.mail.ru
    port: 465
    user: email@domain
    pass: secret
email:
    title: "[Mailing-list] Worklog for %(date_from)s - %(date_to)s"
    from: email@domain
    to: maillist@domain
projects:
  - project: PROJ1
    title: Project 1
  - project: PROJ2
    title: Project 2
  - account: user1@domain
    title: Vasily Pupkin1
  - account: user2@domain
    title: Vasily Pupkin2
language:
    active: Work with issue.
    comment: Discussion.
    review: Code review.
